.header {
  max-height: 60px;
  display: flexbox;
  flex-wrap: wrap;
  flex-flow: row;
}

.navbar {
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  flex-direction: row;
}

.navbar-item {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: row;
}

.bg-dark {
  background-color: #282c34;
  color: whitesmoke;
}
